<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--      $event would pass the submit event to onSubmit-->
      <!--      #form="ngForm" gives access to the NgForm object that angular creates from the form automatically-->
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" name="username" required
                   ngModel>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <!--            Angular will add classes to the inputs based on the directive validators, such as ng-invalid for example-->
            <input type="email" id="email" name="email" required email ngModel class="form-control" #email="ngModel">
            <span *ngIf="!email.valid && email.touched" class="help-block text-danger">Please enter a valid e-mail address</span>
          </div>
          <p *ngIf="!userData.valid && userData.touched">User data is invalid!</p>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" name="secret" [ngModel]="'pet'" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" class="form-control" rows="3" [(ngModel)]="answer"></textarea>
          <p>Your reply: {{answer}}</p>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input type="radio" name="gender" ngModel [value]="gender" required>
              {{gender}}
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit
        </button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your data</h3>
      <p>Username: {{user.username}}</p>
      <p>Mail address: {{user.email}}</p>
      <p>Secret question: {{user.secretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>
